<h1>This User</h1>

<div class="nav-container">
  <%= link_to 'edit user', edit_user_path(id: user.id), class: 'button' %></td>
  <%= link_to 'back to list', users_path, class: 'button cancel' %></td>
</div>


<%= render partial: 'user', locals: { user: user } %>
